@{
    Layout = "~/Views/Shared/_LayoutFanfiction.cshtml";
}
@using fanfiction.Models.Fanfiction
@model FanfictionModel 
 <div class="fanfiction-area">
 @if (TempData["Adding-success"] != null)
        {
       
            <div id="alert" class="alert alert-success alert-dismissible m-0 mt-1" style="width: 100%">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p class="lang m-0">@TempData["Adding-success"]</p>
            </div>
       
        }
<h2 class="lang" key="Fanfiction"></h2>
@if (Model != null)
{
    <table class="table_col mt-5" style="margin: auto; width: 90%;">
        <thead style="text-align: center">
        <td colspan="4"><h2 class="lang" key="Fanfiction-list"></h2></td>
        </thead>
        <tr>
            <th class="p-2 lang" key="Category-Name"></th>
            <th class="p-2 lang" key="Fandom"></th>
            <th class="p-2 lang" key="Genre"></th>
            <th class="p-2 lang" key="Lang"></th>
            <th class="p-2 lang" key="Chapter-count"></th>
        </tr>
        @foreach (var f in Model.fanfic)
        {
            <tr>
                <td>
                    @Html.ActionLink($"{f.Name}", "ViewFanfic", "Fanfiction", new {fanficId = f.FanficId})
                </td>
                @if (Model.lang == "ru")
                {
                    <td> @Html.ActionLink(
                            f.fandom.RuName,
                            "ReadFandom",
                            "Fanfiction",
                            new {fandomId = f.fandom.FandomId })
                    </td>
                    <td>@Html.ActionLink(
                            f.genre.RuName, 
                            "ReadGenre", 
                            "Fanfiction",
                            new {genreId = f.genre.GenreId })
                    </td>
                }
                else
                {
                    
                    <td> @Html.ActionLink(
                             f.fandom.EnName,
                             "ReadFandom",
                             "Fanfiction",
                             new {fandomId = f.fandom.FandomId })
                    </td>
                    <td>@Html.ActionLink(
                            f.genre.EnName,
                            "ReadGenre",
                            "Fanfiction",
                            new {genreId = f.genre.GenreId })
                    </td>
                }
                <td>@f.Lang</td>
                <td>@f.Chapters.Count</td>
                
               
            </tr>
        }      
    </table>
}
else
{
    <p class="lang" key="Fanfic-non-exists"></p>
}

</div>

<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>

