@{
    Layout = "~/Views/Shared/_LayoutFanfiction.cshtml";
}
@model fanfiction.Models.Fanfiction.FandomsModel


    <table class="table_col mt-5" style="table-layout: fixed; margin-left: 10%; width: 100%;">
        <thead style="text-align: center">
        <td colspan="2"><h2 class="lang" key="Genres-list"></h2></td>
        </thead>
        <tr>
           
            <th class="p-2 lang" key="Category-Name"></th>
            <th colspan="3" class="p-2 lang" key="Description"></th>
        </tr>
        @foreach (var f in Model.fandoms)
        {
            
            <tr>
                  
                @if(Model.lang == "ru")
                {
                    <td style="width: 30%">
                        @Html.ActionLink(
                            f.RuName,
                            "ReadFandom",
                            "Fanfiction",
                            new {fandomId = f.FandomId })

                    </td>
                    <td class="clip" colspan="3" style="width: 70%"><p class="clip">@f.RuDescription</p></td>
                    
                }
                else
                {
                    <td style="width: 30%">
                        @Html.ActionLink(
                            f.EnName,
                            "ReadFandom",
                            "Fanfiction",
                            new {fandomId = f.FandomId})

                    </td>
                    <td class="clip" colspan="3" style="width: 70%"><p class="clip">@f.EnDescription</p></td>
                    }
                
        
            </tr>
        }   

            <tr>

                <th colspan="4" class="p-2">
                    @Html.ActionLink(
                        Model.lang == "ru" ? "+ Добавить фандом" : "+ Add fandom",
                        "AddFandom",
                        "Fanfiction",
                        new {})

                </th>
            </tr>
        
    </table>

